/.vscode/
/scratch/
spyglass.json
Stellarity.zip
artifacts/
new_translations/
.venv/

Nullscape/
nullscape/

build/
.spyglassrc.json

hs_err_pid22536.log
stellarity-6.0.0.zip
resource_pack.zip
logs/2026-09-24-1.log.gz
logs/2026-09-24-2.log.gz
logs/2026-09-24-3.log.gz
logs/2026-09-24-4.log.gz
logs/2026-09-24-5.log.gz
logs/2026-09-24-6.log.gz
logs/2026-09-24-7.log.gz
logs/latest.log
